{% load static %}
{# === Правая колонка с календарём - рефакторированная версия === #}

{# Десктопная версия #}
{% include "includes/components/calendar_desktop.html" %}

{# Мобильная версия #}
{% include "includes/components/calendar_mobile.html" %}

{# Модальные окна #}
{% include "includes/components/calendar_modal_create.html" %}
{% include "includes/components/calendar_modal_details.html" %}
{% include "includes/components/calendar_modal_manage.html" %}
{% include "includes/components/calendar_context_menu.html" %}

{# JavaScript инициализация #}
{% include "includes/components/calendar_scripts.html" %}
